{{>header booking = "booking"}}
<div class="container" style="padding-top: 50px;">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="booking-form" style="border: solid 1px black; border-radius: 15px; background-color: #e6d9d9">
                <h6 style="font-weight: bold; text-align:center; padding-top: 10px">Tìm kiếm lịch hẹn</h6>
                <hr>
                <div class="information-form">
                    <h3 style="font-weight: bold; padding-left:15px"><i class="fa fa-book" style="margin-right: 10px;"></i>Thông tin buổi hẹn</h3>
                    <br>
                    <div class="row">
                        <div class="input-information col-lg-3 col-md-6 col-sm-6" style="margin-left: 10px">
                            <div class="form-input" style="margin-bottom: 50px;">
                                <p>Họ tên: </p>
                                <input type="text" placeholder="Nhập họ tên..." required/> 
                            </div>
                            <div class="form-input" style="margin-bottom: 50px;">
                                <p>Mô tả triệu chứng: </p>
                                <input type="text" placeholder="Nhập triệu chứng..."> 
                            </div>
                        </div>
                        <div class="input-information col-lg-3 col-md-6 col-sm-6"  style="margin-left: 10px">
                            <div class="form-input" style="margin-bottom: 50px;">
                                <p>Email: </p>
                                <input type="text" placeholder="Nhập email..." required/> 
                            </div>
                            <div class="form-input" style="margin-bottom: 50px;">
                                <p>Thời gian: </p>
                                <select name="" id="choose__range__of___time">
                                    <option value="">08:00 - 08:45</option>
                                    <option value="">09:00 - 09:45</option>
                                    <option value="">10:00 - 10:45</option>
                                    <option value="">11:00 - 11:45</option>
                                    <option value="">12:00 - 12:45</option>
                                    <option value="">13:00 - 13:45</option>
                                    <option value="">14:00 - 14:45</option>
                                    <option value="">15:00 - 15:45</option>
                                    <option value="">16:00 - 16:45</option>
                                    <option value="">17:00 - 17:45</option>
                                    <option value="">18:00 - 18:45</option>
                                    <option value="">19:00 - 19:45</option>
                                </select>
                            </div>
                        </div>
                        <div class=" col-lg-6 col-md-6 col-sm-6">
                            <button type="submit" class="site-btn button_srch">Tra cứu</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="space"></div>
