{{>header booking = "booking"}}
<div class="container" style="padding-top: 50px;">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="booking-form" style="border: solid 1px black; border-radius: 15px; background-color: #e6d9d9">
                <h6 style="font-weight: bold; text-align:center; padding-top: 10px">Tìm kiếm lịch hẹn</h6>
                <hr>
                <div class="information-form">
                    <h3 style="font-weight: bold; padding-left:15px"><i class="fa fa-book" style="margin-right: 10px;"></i>Thông tin buổi hẹn</h3>
                    <br>
                    <div class="row">
                        <div class="input-information col-lg-2 col-md-6 col-sm-6" style="margin-left: 10px">
                            <div class="form-input" style="margin-bottom: 50px;">
                                <p>Họ tên: </p>
                                <input type="text" style="background: none; border: none; border-bottom: 1px solid black; width: 90%"  required/> 
                            </div>
                            <div class="form-input" style="margin-bottom: 50px;">
                                <p>Mô tả triệu chứng: </p>
                                <input type="text" style="background: none; border: none; border-bottom: 1px solid black; width: 90%" > 
                            </div>
                        </div>
                        <div class="input-information col-lg-2 col-md-6 col-sm-6"  style="margin-left: 10px">
                            <div class="form-input" style="margin-bottom: 50px;">
                                <p>Email: </p>
                                <input type="text" style="background: none; border: none; border-bottom: 1px solid black; width: 90%" required/> 
                            </div>
                            <div class="form-input" style="margin-bottom: 50px;">
                                <p>Thời gian: </p>
                                <select name="" id="choose__range__of___time">
                                    <option value="">08:00 - 08:45</option>
                                    <option value="">09:00 - 09:45</option>
                                    <option value="">10:00 - 10:45</option>
                                    <option value="">11:00 - 11:45</option>
                                    <option value="">12:00 - 12:45</option>
                                    <option value="">13:00 - 13:45</option>
                                    <option value="">14:00 - 14:45</option>
                                    <option value="">15:00 - 15:45</option>
                                    <option value="">16:00 - 16:45</option>
                                    <option value="">17:00 - 17:45</option>
                                    <option value="">18:00 - 18:45</option>
                                    <option value="">19:00 - 19:45</option>
                                </select>
                            </div>
                        </div>
                        <div class="space"></div>
                        <div class="input-information col-lg-7 col-md-6 col-sm-6" style="margin-left: 10px">
                          <div class="elegant-calencar d-md-flex">
                            <div class="wrap-header d-flex align-items-center img" style="background-image: url(img/bg.jpg);">
                              <p id="reset">HÔM NAY</p>
                              <div id="header" class="p-0">
                                <!-- <div class="pre-button d-flex align-items-center justify-content-center"><i class="fa fa-chevron-left"></i></div> -->
                                <div class="head-info">
                                  <div class="head-month"></div>
                                    <div class="head-day"></div>
                                </div>
                                <!-- <div class="next-button d-flex align-items-center justify-content-center"><i class="fa fa-chevron-right"></i></div> -->
                              </div>
                            </div>
                            <div class="calendar-wrap">
                              <div class="w-100 button-wrap">
                                <div class="pre-button d-flex align-items-center justify-content-center"><i class="fa fa-chevron-left"></i></div>
                                <div class="head-month"></div>
                                <div class="next-button d-flex align-items-center justify-content-center"><i class="fa fa-chevron-right"></i></div>
                              </div>
                              <table id="calendar">
                                <thead>
                                    <tr>
                                      <th>CN</th>
                                      <th>TH2</th>
                                      <th>TH3</th>
                                      <th>TH4</th>
                                      <th>TH5</th>
                                      <th>TH6</th>
                                      <th>TH7</th>
                                    </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                  </tr>
                                  <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                  </tr>
                                  <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                  </tr>
                                  <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                  </tr>
                                  <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                  </tr>
                                  <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                  </tr>
                                </tbody>
                              </table>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" col-lg-12 col-md-6 col-sm-6">
              <button type="submit" class="site-btn button_srch">Tra cứu</button>
            </div>
        </div>
    </div>
</div>
<div class="space"></div>

